<footer class="text-center font-small wow fadeIn footer" style="background-color: #112848; width: 100%; margin-top: auto; color: white; margin-bottom: 0;">

    <!-- Social icons -->
    <div class="py-4">
      <a href="#" style="color: white;" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="#" style="color: white;" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="#" style="color: white;" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="#" style="color: white;" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="#" style="color: white;" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="#" style="color: white;" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="#" style="color: white;" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="#" style="color: white;" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="pb-3">
      © 2021 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" style="color: white;" target="_blank"> SR Sales</a>
    </div>
    <!--/.Copyright-->

  </footer>